--- layout: download.swig ---
<div id="backbone">
  {# section1 #}
  <div class="section">
    <h2 class="section-title">
      <span>最新产品动态</span></h2>
    <!-- .row1 -->
    <div class="news-months-row">
      <h3>2020-10</h3>
      <div class="news-questions-wrapper">
        <div class="news-question">
          <details>
            <summary>商用版应用网络隔离优化方案上线</summary>
            <p>为了彻底隔离不同用户的网络访问入口，避免意外情况下的相互影响，我们上线了网络隔离优化方案，为拥有商用版应用的账户免费分配了一个独立 IP（默认提供 2 Gbps 的防护带宽），以作为账户下所有应用使用存储服务的默认入口。这一变化对有些应用已经自动生效，对部分应用则还需要开发者手动修改 API 域名的 DNS 解析记录才能生效。</p>
          </details>
        </div>
        <div class="news-question">
          <details>
            <summary>独立 IP 降价 50%</summary>
            <p>如果开发者需要在名下的多个应用之间也进行网络流量隔离，还可以额外购买更多的独立 IP，为此我们将原来的独立 IP 价格降低 50%，以鼓励大家更好地使用 LeanCloud 服务。</p>
          </details>
        </div>
        <div class="news-question">
          <details>
            <summary>「应用内搜索」完成架构升级并更名为「全文搜索」</summary>
            <p>应用内搜索服务推出五年来，收到了许多开发者的反馈和建议，在过去的一段时间，我们对技术架构进行了调整和优化，包括：升级了搜索和分词引擎，优化了中英文混合文本的分词，也支持了索引重建过程中的多版本平滑过度，等等。10 月份这些调整正式上线，我们也将这一增值服务更名为「全文搜索」，以便更好反应它的用途。</p>
            <p>从 11 月 1 日开始全文搜索的统计将会和数据存储区分开，并进行<a href="https://leancloudblog.com/full-text-search-bill/" title="LeanCloud blog">独立计费</a>。</p>
          </details>
        </div>
        <div class="news-question">
          <details>
            <summary>云引擎在所有分组上支持云函数，并取消分组管理费</summary>
            <p>云引擎的组管理功能允许开发者建立多个独立分组，在访问同一数据源的情况下，部署多套不同的服务器端业务代码，并对每个分组绑定不同的自定义域名，实现更丰富的业务需求。在此之前我们规定了只有「主要分组」可以使用云函数和 Hook 机制，这给一部分开发者的代码组织带来了一些障碍。我们最近做了一些工作，让所有分组都支持了云函数和 Hook 机制，并且完全取消了分组管理费，以方便大家的使用。</p>
          </details>
        </div>
      </div>

    </div>

    <a class="more-news-a" href="kb_all_products_news.html">
      <div class="more-news">查看更多产品动态</div>
    </a>
  </div>

  {# section2 #}
  <div class="section">
    <h2 class="section-title">
      <span>常见问题</span></h2>
    <div class="row">
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <div class="link-block">
          <h2>数据存储</h2>
          <ul>
            <li>
              <a href="leanstorage-faq.html#API_调用次数有什么限制吗">API 调用次数有什么限制吗</a>
            </li>
            <li>
              <a href="leanstorage-faq.html#API_调用次数的计算">API 调用次数的计算</a>
            </li>
            <li>
              <a href="leanstorage-faq.html#当数据量越来越大时_怎么加快查询速度_" target="_blank">当数据量越来越大时，怎么加快查询速度</a>
            </li>
            <li>
              <a href="leanstorage-faq.html#默认值的查询结果为什么不对">默认值的查询结果为什么不对</a>
            </li>
            <li>
              <a href="leanstorage-faq.html">【点击查看更多】</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->

      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <div class="link-block">
          <h2>云引擎</h2>
          <ul>
            <li>
              <a href="leanengine_faq.html#云引擎都支持哪些语言">云引擎都支持哪些语言</a>
            </li>
            <li>
              <a href="leanengine_faq.html#云引擎支持_HTTPS_吗">云引擎支持 HTTPS 吗</a>
            </li>
            <li>
              <a href="leanengine_faq.html#如何判断当前是预备环境还是生产环境_">如何判断当前是预备环境还是生产环境？</a>
            </li>
            <li>
              <a href="leanengine_faq.html">【点击查看更多】</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
    </div>
    <!-- .row -->
    <hr>
    <div class="row">
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <div class="link-block">
          <h2>即时通信</h2>
          <ul>
            <li>
              <a href="realtime-faq.html#为什么我收不到离线消息推送">为什么我收不到离线消息推送</a>
            </li>
            <li>
              <a href="realtime-faq.html#聊天消息没有收到_该如何排查">聊天消息没有收到，该如何排查</a>
            </li>
            <li>
              <a href="realtime-faq.html#我只想实现两个用户的私聊_是不是每次都得重复创建对话_">我只想实现两个用户的私聊_是不是每次都得重复创建对话</a>
            </li>
            <li>
              <a href="realtime-faq.html#我自己没有云端_如何实现签名的功能_">如何实现签名的功能</a>
            </li>
            <li>
              <a href="realtime-faq.html">【点击查看更多】</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <div class="link-block">
          <h2>消息推送</h2>
          <ul>
            <li>
              <a href="push-faq.html#为什么成功设备数小于目标设备数_">为什么成功设备数小于目标设备数？</a>
            </li>
            <li>
              <a href="push-faq.html#为什么只能给三个月内活跃过的设备发消息_能否发全量设备_">为什么只能给三个月内活跃过的设备发消息？能否发全量设备？</a>
            </li>
            <li>
              <a href="push-faq.html#Android_消息接收能不能自定义_Receiver_不弹出通知">Android 消息接收能不能自定义 Receiver 不弹出通知</a>
            </li>
            <li>
              <a href="push-faq.html#Android_应用进程被杀掉后无法收到推送消息">Android 应用进程被杀掉后无法收到推送消息</a>
            </li>
            <li>
              <a href="push-faq.html">【点击查看更多】</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
    </div>
    <!-- .row -->
    <hr>
    <div class="row">
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <div class="link-block">
          <h2>短信</h2>
          <ul>
            <li>
              <a href="sms-faq.html#短信有什么限制吗_">短信有什么限制吗</a>
            </li>
            <li>
              <a href="sms-faq.html#有些手机收不到短信是什么情况_">有些手机收不到短信是什么情况</a>
            </li>
            <li>
              <a href="sms-faq.html#短信支持港澳台和国外吗_" target="_blank">短信支持港澳台和国外吗</a>
            </li>
            <li>
              <a href="sms-faq.html#短信模板审核的原则有哪些_" target="_blank">短信模板审核的原则有哪些</a>
            </li>
            <li>
              <a href="sms-faq.html#手机号被列入了黑名单怎么办？为什么会被列入黑名单？" target="_blank">手机号被列入了黑名单怎么办，为什么会被列入黑名单</a>
            </li>
            <li>
              <a href="sms-faq.html" target="_blank">【点击查看更多】</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->

      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <div class="link-block">
          <h2>账户和控制台</h2>
          <ul>
            <li>
              <a href="account-and-dashboard-faq.html#如何申请开具发票">如何申请开具发票</a>
            </li>
            <li>
              <a href="account-and-dashboard-faq.html#获取客服支持有哪些途径">获取客服支持有哪些途径</a>
            </li>
            <li>
              <a href="account-and-dashboard-faq.html#如何导入或者导出数据_">如何导入或者导出数据</a>
            </li>
            <li>
              <a href="account-and-dashboard-faq.html">更多账户与控制台问题</a>
            </li>
            <li>
              <a href="account-and-dashboard-faq.html" target="_blank">【点击查看更多】</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
    </div>
    <!-- .row -->
  </div>

  {# section3 #}
  <div class="section">
    <h2 class="section-title">
      <span>最佳实践</span></h2>
    <div class="row">
      <div class="section-content col-xs-6 col-md-4">
        <div class="link-block">
          <h2>聊天与消息</h2>
          <ul>
            <li>
              <a href="realtime-guide-onoff-status.html" target="_blank">即时通讯中的在线状态查询</a>
            </li>
            <li>
              <a href="https://zhuanlan.zhihu.com/p/21399155" target="_blank">快速开发聊天机器人</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/tutorials.html#hash1432079419" target="_blank">为聊天接入表情云</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->

      <div class="section-content col-xs-6 col-md-4">
        <div class="link-block">
          <h2>账号安全</h2>
          <ul>
            <li>
              <a href="https://leancloud.cn/docs/data_security.html" target="_blank">数据安全详解</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/acl-guide.html" target="_blank">ACL 权限管理指南</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/acl_guide_leanengine.html" target="_blank">在云引擎中使用 ACL</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->

      <div class="section-content col-xs-6 col-md-4">
        <div class="link-block">
          <h2>控制台</h2>
          <ul>
            <li>
              <a href="https://leancloud.cn/docs/app_data_share.html" target="_blank">应用间数据共享</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/dashboard_guide.html" target="_blank">管理控制台使用指南</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/custom-reset-verify-page.html" target="_blank">自定义邮件验证和重设密码页面</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
    </div>
    <!-- .row -->
    <hr>
    <div class="row">
      <div class="section-content col-xs-6 col-md-4">
        <div class="link-block">
          <h2>数据处理</h2>
          <ul>
            <li>
              <a href="https://leancloud.cn/docs/app_search_guide.html" target="_blank">全文搜索开发</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/leaninsight_guide.html" target="_blank">离线数据分析</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
      <div class="section-content col-xs-6 col-md-4">
        <div class="link-block">
          <h2>域名与备案</h2>
          <ul>
            <li>
              <a href="https://leancloud.cn/docs/custom-api-domain-guide.html" target="_blank">域名绑定指南</a>
            </li>
            <li>
              <a href="https://leancloud.cn/docs/cdn-guide.html" target="_blank">CDN 配置指南</a>
            </li>
            <li>
              <a href="https://leancloudblog.com/Domain-Name-Story-confirm/" target="_blank">域名背后那些事</a>
            </li>
            <li>
              <a href="https://leancloudblog.com/DNS-knowledge/" target="_blank">域名之殇</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
      <div class="section-content col-xs-6 col-md-4">
        <div class="link-block">
          <h2>技术分享</h2>
          <ul>
            <li>
              <a href="https://leancloud.cn/docs/game-demos.html#hash-1253694070" target="_blank">LeanCloud 周年游戏实现</a>
            </li>
            <li>
              <a href="https://forum.leancloud.cn/t/postman-rest-api/8638" target="_blank">使用 Postman 调试 REST API</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-4 -->
    </div>
    <!-- .row -->

  </div>
  <hr>
</div>
